/* 
Hadahlia's site style css <3 

TODO:
- add social links
- add cat picture
- add interests?
- if i make ocs add them here :0

*/

.nanum-gothic-coding-regular {
	font-family: "Nanum Gothic Coding", monospace;
	font-weight: 400;
	font-style: normal;
}

.alike-regular {
	font-family: "Alike", serif;
	font-weight: 400;
	font-style: normal;
}

body {
	/* height:120vh; */
	background: url("galaxy.webp") repeat;
	background-size: contain;
	background-color: rgba(0, 56, 46, 0.242);
	/*color:aqua;*/
	font-family: "Nanum Gothic Coding", monospace;
	font-size:20px;
	text-shadow: 2px 2px 3px rgb(0, 28, 32);
	/* margin-top: 76px;
	margin-left: 40px;
	margin-right: 20px;
	padding: 15px; */
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* #my-container {
	display:flex;
	flex-direction:column;
	
	fallback height
	min-height:100vh;
	justify-content: center;
	height: 130vh;

	new small viewport height for modern browsers
	min-height:100svh;
} */

main {
	padding:16px;
	color:rgb(235, 217, 84);
	text-shadow: 0px 1px 3px rgb(186, 0, 50);
	text-align: center;
}

main h1 {
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: 2.5em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
}

main h2 {
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: 2em;
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42) 0;
}

main h3 {
	padding-top: 20px;
	padding-bottom: 25px;
	font-size: 1.75em;
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38) 0;
}

main p {
	padding:16px;
	font-size: 1em;
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32) 0;
}



header {
	background: linear-gradient(rgb(0, 0, 202), rgb(0, 2, 44), rgb(0, 0, 62));
	/* position: absolute;
	top: 0;
	left: 0;
	right: 0; */
	width:100%;
	height: 65px;
	display: block;
	align-items: center;
	z-index: 3;
}

header * {
	display: inline;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 65px;
	width: 100%;
	margin: 0;
}

/* ul {
	display: inline-block;
} */

button {
	background: linear-gradient(90deg, #0fffab, #00b3ff, #00ff3c);
	background-size: cover;
	background-clip: border-box;
	-webkit-background-clip: text;
	background-clip: text;
	background-size: 300% 300%;
	-webkit-text-fill-color: transparent;
	border: none;
	/*border-right: 6px solid rgba(56, 116, 255, 0.188);*/
	padding: 6px;
	text-align: center;
	align-items: center;
	text-decoration: none;
	text-shadow: 1px 1px 3px rgba(10, 0, 41, 0.655);
	display:inline;
	font-family: "Nanum Gothic Coding", monospace;
	font-size:24px;
	margin-top:4px;

	margin-left: 1rex;
	margin-right: 1rex;
	margin-bottom: 0;
}



a.button-link {
	display:flex;
	/* padding: 12px 32px; */
	padding:11px 10px;
    text-decoration: none;
}

button:hover {
	text-shadow: -1px -1px 1px rgba(156, 255, 248, 0.5);
	border-bottom: 3px solid rgba(240, 255, 254, 0.862);
	box-shadow: 1px 6px 8px rgba(66, 253, 241, 0.822);
}

.shine-btn {
	text-shadow: -1px -1px 1px rgb(158, 255, 156, 0.5);
	border-bottom: 3px solid rgba(124, 135, 146, 0.862);
	box-shadow: 1px 6px 8px rgba(88, 179, 104, 0.822);
}

/* header li {
	margin: 25px;
} */

header li a {
	/* color: rgb(255, 255, 255); */
	text-decoration: none;
	article h1 {
		font-size: 2.5em;
		line-height: calc(1ex / 0.42);
		margin: calc(1ex / 0.42) 0;
	}
}



.scroll-img {
	position: fixed;
	/* top: 65px; */
	/* bottom:0; */
	left: 10%;
	right: 10%;
	height:100vh;
	/* width:75% center; */
	
	background: url("tomb_scrollw.webp") repeat-x;
	filter: brightness(0.6) grayscale(20%);
	
	background-size: contain;
	background-position: center;
	z-index: 1;
}

.swordlight {
	flex-grow: 1;
	top: 65px;
	/* bottom:0; */
	left: 10%;
	right: 10%;
	height:100%;
	width:75% center;

	
	border: 6px solid rgb(62, 252, 255);
	border-top: none;
	border-bottom: none;
	padding: 8px;
	margin-right: 10%;
	margin-left: 10%;
	box-shadow: 0px 0px 18px 8px rgb(66, 255, 192);
	z-index: 2;
}

.connections {
	list-style-position: inside;
}

/* #my-container > footer {
	margin-top: auto;
} */

#footer {
	color:azure;
	/* display: block; */
	/* bottom:0;
	left:0; */
	padding: 1rem;
    /* width:100%; */
    height:70px;
    background-color: #0c0348;
	text-align: center;
	z-index: 3;
}